/*Font*/
@font-face {
    font-family: "dorsa";
    src: url(./Dorsa-Regular.ttf);
}
@font-face {
    font-family: "montserrat";
    src: url(./Montserrat-Regular.ttf);
}
body{
    background-color: #8B4C1C;
}
h1, h3{
    font-family: "dorsa";
}
.navbar{
    font-family: 'montserrat';
}
h1{
    position: absolute;
    font-size: 280px;
    letter-spacing: 65px;
    margin-top: 15%;
    margin-left: 5%;
    color: white;
}

h3{
    letter-spacing: 12px;
}
.contenant{
    position: relative;
}
.mannequin{
    position: absolute;
    margin-left: 65%;
    margin-top: -4%;
    width: auto;
    height: 4000%;
}
.navbar{
    position: absolute;
    margin-top: 46%;
    margin-left: 33%;
    color: white;
    font-size: 24px;
}
.portfolio{
    margin-left: 45%;
    text-transform: uppercase;
    color: white;
}
.content{
    position: relative;
    margin-top: 60%;
    width: 100%;
    height: 100%;
    
}
.a-propos{
    position: absolute;
    background-color: #A56A2A;
    width: 50%;
    height: 800px;
}
#a-propos{
    margin-top: 50%;
    text-align: center;
    font-family: 'dorsa';
    font-size: 100px;
    letter-spacing: 20px;
    text-transform: uppercase;
}
#projets{
    margin-top: 50%;
    text-align: center;
    font-family: 'dorsa';
    font-size: 100px;
    letter-spacing: 20px;
    text-transform: uppercase;
}
#contact{
    margin-top:50%;
    padding-top: 50%;
    color: #F2EADF;
    text-align: center;
    font-family: 'dorsa';
    font-size: 100px;
    letter-spacing: 20px;
    text-transform: uppercase;
}
.text{
    position: absolute;
    margin-left: 50%;
    width: 50%;
    height: 800px;
    background-color: #F2EADF;
}
#sous-titre1{
    font-family: 'dorsa';
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2%;
    letter-spacing: 20px;   
}
#competences{
    font-family: 'dorsa';
    font-size: 30px;
    margin-left: 80px;
    letter-spacing: 5px;  
    padding-top: 8px; 
}
#sous-titre2{
    font-family: 'dorsa';
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2%;
    letter-spacing: 20px;   
}
#formation{
    font-family: 'dorsa';
    font-size: 30px;
    margin-left: 80px;
    letter-spacing: 5px;   
}
#sous-titre3{
    font-family: 'dorsa';
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2%;
    letter-spacing: 20px;   
}
#experiences{
    font-family: 'dorsa';
    font-size: 30px;
    margin-left: 80px;
    letter-spacing: 5px;   
}
.content2{
    position: relative;
    margin-top: 115%;
}
.projets{
    position: absolute;
    margin-top: 0%;
}

.image{
    position: absolute;
    width: 100%;
    height: 800px;
    margin-top: 0%;  
    overflow: scroll;
}
#cerveau{
    position: relative;
    width: 50%;
    height: 680px;
    margin-left: 50%;
    overflow: scroll;
}
#planete{
    position: relative;
    width: 52%;
    height: 680px;
    margin-left: 49%;
    margin-top: -2%;
    overflow: scroll;
}
.projets{
    background-color: #F2EADF;
    margin-top: 0%;
    width: 50%;
    height: 800px;
}
#carre {
    position: relative;
    margin-top: -2%;
    margin-left: 50%;
    width: 50%;
    height: 680px;
    background: black;
    overflow: scroll;
}
.content3{
    position: relative;
    margin-top: 172%;
}
#carre1{
    position: relative;
    margin-top: -57%;
    margin-left: 50%;
    width: 50%;
    height: 800px;
    background: #F2EADF;
}
.contact{
    background-color: #8B4C1C;
    width: 50%;
    height: 800px;
}
/*Hegagonne bouton*/
.hexagone {
    position: absolute;
    /* Pour rendre responsive mettre width à 100% */;
    opacity: 0.75;
    width: 80px;
    margin-left: 73%;
    margin-top: -25%;
    visibility: hidden;
    overflow: hidden;
    background-color: #8B4C1C;
  }
  .hexagone:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    display: block;
    margin-top: 28.86751%;
    padding-bottom: 86.602%;
  }
  .hexagone .hexagonemain{
    display: block;
    position: absolute;
    width: 100%;
    padding-bottom: 115.47005%;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    z-index: 1;
  }
  .hexagone .hexagonemain:before{
    content: "";
    display: block;
    position: absolute;
    visibility: visible;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #8B4C1C;
    -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  }
  .hexagone .hexagonecontent{
    overflow-y: auto;
    width: 100%;
    display: block;
    position: absolute;
    visibility: visible;
    bottom: 25%;
    top: 25%;
    left: 0;
    z-index: 3;
  }
  
.barres{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 40px;
    cursor: pointer;
}
/*Animation croix*/
.plus{
    width: 50px;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: .7;
}
.plus:before,
.plus:after{
    top: 50%;
    left: 0%;
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: .7;
}
.plus:before{
top: -16px;
}
.plus:after{
    top: 16px;
}
.barres.active .plus{
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}
.barres.active .plus:before{
    top: 0;
    transform: rotate(45deg);
}
.barres.active .plus::after{
    top: 0;
    transform: rotate(135deg);
}
.btnPopup{
    border-color: aqua;
    padding: 1em 2em;
    font-size: 14pt;
    color: black;
    cursor: pointer;
}
.btnPopup:hover{
    background-color: purple;
}
.overlay{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    display: none;
}
.popup{
    margin: 20% auto;
    width: 110%;
    background-color: #fff;
    padding: 1em;
}
.btnClose{
   margin-left: 1100px;
    cursor: pointer;

}
