/*Font*/
@font-face {
    font-family: "dorsa";
    src: url(./Dorsa-Regular.ttf);
}
@font-face {
    font-family: "montserrat";
    src: url(./Montserrat-Regular.ttf);
}
body{
    background-color: #8B4C1C;
}
h1, h3{
    font-family: "dorsa";
}
.navbar{
    font-family: 'montserrat';
}
h1{
    position: absolute;
    font-size: 280px;
    letter-spacing: 65px;
    margin-top: 15%;
    margin-left: 5%;
    color: white;
}

h3{
    letter-spacing: 12px;
}
.contenant{
    position: relative;
}
.mannequin{
    position: absolute;
    margin-left: 65%;
    margin-top: -4%;
    width: auto;
    height: 4000%;
}
.navbar{
    position: absolute;
    margin-top: 46%;
    margin-left: 33%;
    color: white;
    font-size: 24px;
}
.portfolio{
    margin-left: 45%;
    text-transform: uppercase;
    color: white;
}
.content{
    position: relative;
    margin-top: 60%;
    width: 100%;
    height: 100%;
    
}
.a-propos{
    position: absolute;
    background-color: #A56A2A;
    width: 50%;
    height: 800px;
}
#a-propos{
    margin-top: 50%;
    text-align: center;
    font-family: 'dorsa';
    font-size: 100px;
    letter-spacing: 20px;
    text-transform: uppercase;
}
#projets{
    margin-top: 50%;
    text-align: center;
    font-family: 'dorsa';
    font-size: 100px;
    letter-spacing: 20px;
    text-transform: uppercase;
}
#contact{
    margin-top:50%;
    padding-top: 50%;
    color: #F2EADF;
    text-align: center;
    font-family: 'dorsa';
    font-size: 100px;
    letter-spacing: 20px;
    text-transform: uppercase;
}
.text{
    position: absolute;
    margin-left: 50%;
    width: 50%;
    height: 800px;
    background-color: #F2EADF;
}
#sous-titre1{
    font-family: 'dorsa';
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2%;
    letter-spacing: 20px;   
}
#competences{
    font-family: 'dorsa';
    font-size: 30px;
    margin-left: 80px;
    letter-spacing: 5px;  
    padding-top: 8px; 
}
#sous-titre2{
    font-family: 'dorsa';
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2%;
    letter-spacing: 20px;   
}
#formation{
    font-family: 'dorsa';
    font-size: 30px;
    margin-left: 80px;
    letter-spacing: 5px;   
}
#sous-titre3{
    font-family: 'dorsa';
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2%;
    letter-spacing: 20px;   
}
#experiences{
    font-family: 'dorsa';
    font-size: 30px;
    margin-left: 80px;
    letter-spacing: 5px;   
}
.content2{
    position: relative;
    margin-top: 115%;
}
.projets{
    position: absolute;
    margin-top: 0%;
}

.image{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 800px;
    margin-top: 0%;  
    overflow: scroll;
}
#cerveau{
    position: relative;
    width: 50%;
    height: 680px;
    margin-left: 50%;
    overflow: hidden;
    
}
#planete{
    z-index: 0;
    position: relative;
    width: 52%;
    height: 680px;
    margin-left: 49%;
    margin-top: -2%;
    overflow: scroll;
}
.projets{
    background-color: #F2EADF;
    margin-top: 0%;
    width: 50%;
    height: 800px;
}
#carre {
    position: relative;
    margin-top: -2%;
    margin-left: 50%;
    width: 50%;
    height: 680px;
    background: black;
    overflow: scroll;
}
.content3{
    position: relative;
    margin-top: 172%;
}
#carre1{
    position: relative;
    margin-top: -57%;
    margin-left: 50%;
    width: 50%;
    height: 800px;
    background: #F2EADF;
}
.contact{
    background-color: #8B4C1C;
    width: 50%;
    height: 800px;
}
/*Hegagonne bouton*/
.hexagone {
    position: absolute;
    /* Pour rendre responsive mettre width à 100% */;
    opacity: 0.75;
    width: 80px;
    margin-left: 73%;
    margin-top: -25%;
    visibility: hidden;
    overflow: hidden;
    background-color: #8B4C1C;
  }
  .hexagone:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    display: block;
    margin-top: 28.86751%;
    padding-bottom: 86.602%;
  }
  .hexagone .hexagonemain{
    display: block;
    position: absolute;
    width: 100%;
    padding-bottom: 115.47005%;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    z-index: 1;
  }
  .hexagone .hexagonemain:before{
    content: "";
    display: block;
    position: absolute;
    visibility: visible;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #8B4C1C;
    -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  }
  .hexagone .hexagonecontent{
    overflow-y: auto;
    width: 100%;
    display: block;
    position: absolute;
    visibility: visible;
    bottom: 25%;
    top: 25%;
    left: 0;
    z-index: 3;
  }
/*Animation pop-up*/
.btnPopup{
    background-color: #8B4C1C;
    border-color: #8B4C1C;
    box-shadow: none;
    border: none;
    margin-left: 30%;
    font-size: 30pt;
    color: black;
    cursor: pointer;
}
.btnPopup:hover{
    background-color: none;
}
.overlay{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    display: none;
}
.popup{
    z-index: 10;
    position: relative;
    margin: 0% auto;
    width: 80%;
    height: 1000px;
    background-color: #8B4C1C;
    padding: 1em;
    overflow: scroll;
}
.btnClose{
   margin-left: 1100px;
    cursor: pointer;
    float: right;
    position: fixed;

}
#society{
    font-family: 'dorsa';
    font-size: 50px;
    letter-spacing: 10px;
    color: #F2EADF;
    text-align: center;
    text-transform: uppercase;
}
#wireframe{
    z-index: 10;
    position: absolute;
    margin-top: 5%;
    width: 99%;
    height: auto;
    text-align: center;
    margin-left: -1%;
    padding-left: 0;
}